body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 30rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main h1 {
  color: #2D3437;
  font-weight: 500;
  margin-bottom: 1rem;
}